.modal-container{
    display:flex;
    flex-direction: column;
}

h4{
    margin: auto;
}

.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

}

